body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
}
